/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: silver black;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background: black;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
    border: 1px solid silver;
  }
  
  /* uwu */

  @font-face {
    font-family: "Quicksand";
    src: url("assets/Quicksand/Quicksand-Regular.ttf") format("truetype"),
         url("assets/Quicksand/Quicksand-Bold.ttf") format("truetype"),
         url("assets/Quicksand/Quicksand-Light.ttf") format("truetype"),
         url("assets/Quicksand/Quicksand-Medium.ttf") format("truetype"),
         url("assets/Quicksand/Quicksand-SemiBold.ttf") format("truetype");
  }

  /* */

  